/**

	This stylesheet is meant to be included after style.css and overrides some of it.

 */

body 
{ 
	color: #fff;
	background: #eee url(../img/textured_tiles_pattern_darker.png);
	font:17px Helvetica, sans-serif; 
	*font-size: 17px; 
} /* Hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

a, a:active, a:visited 
{ 
	color: #fff; 
	text-decoration: none;
	font-weight: bold;
	font-size: 110%;
}
a:hover { color: #6b6; }


#container
{
	background: url(../img/textured_tiles_pattern_green.png);	
	width: 832px;
	height: 2080px;
	margin-top: 0px;
	margin-bottom: 0px;
	box-shadow: -5px 0px 2px #999, 5px 0px 2px #999;
}


#writeupstrip
{
	float: none;
	padding-top: 40px;
	padding-right: 40px;
}

#writeupstrip p
{
	padding-bottom: 1em;
}
#writeupstrip ul
{
	margin-top: 20px;
	/* Watch out: HACK! Because #writeupstrip is float: none and flowing around #bigandsimplestrip, it really starts at the left of #container, not in a box that starts to the right of #bigandsimplestrip. Update this if #bigandsimplestrip's width changes. */
	padding-left: 414px;
}

#writeupstrip li
{
	margin-left: 20px;
	padding-bottom: 0.3em;
}

#writeupstrip section
{
	margin-bottom: 2em;
}


#bigandsimplestrip
{
	float: left;
	width: 400px;
	height: 1700px;
	padding-left: 28px;
	padding-top: 40px;
	padding-right: 22px;
	/*
	border: 1px dotted black;	
	*/
}

.bigandsimpletextsection
{
	margin-left: 32px;	
}

#appstorebadge
{
	display: block;
	margin-top: 64px;
	margin-left: 64px;	
}

#framedscreenshot
{
	background: url(../jotunheim/img/jotunheim_screenshot_in_frame.png);	
	background-repeat: no-repeat;
	background-position: center;
	width: 380px;
	height: 757px;	
}

.overlayTrigger
{
	
}

.triggerRing
{
	display: block;
	margin: 0px auto auto;
	padding-top: 386px;
	width: 16px;
	height: 16px;
	opacity: 0.6;
}

.expandedTriggerRing
{
	display: block;
	margin: 0px auto auto;
	padding-top: 362px;
	width: 64px;
	height: 64px;
	opacity: 0.1;
	-webkit-transition: all 1.5s linear;
	-webkit-transition-property: width, height, padding-top, opacity;
	-moz-transition: all 1.5s linear;
	-moz-transition-property: width, height, padding-top, opacity;	
}

.heading
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, sans-serif;
	font-weight: bold;
}

h1
{
	font-size: 48px;
	padding-top: 48px;
	padding-bottom: 40px;
}

h2
{
	font-size: 30px;
	padding-bottom: 40px;
}

h3
{
	font-size: 24px;	
}

footer
{
	margin-top: 40%;
}

/* Slideshow stuff. */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  -webkit-transition: opacity 0.75s;
}

#overlay.hidden {
  display: none;
}

#overlay.visible {
  opacity: 1;
}


#photo-container {
  	width: 800px;
  	height: 480px;
	margin: 15% auto auto auto;
	
	/* Without this, its descendents cannot be absolute without using the 
	page as a basis for its positioning. */
	position: relative;	
}

#photo-container .contents img, #photo-container video {
	margin: auto auto auto auto;
	position: absolute;
	display: block;
}

#photo-container video {
  background-color: black;
}

.arrow
{
	display: block;
	position: absolute;
	top: 208px;
	/* Without this, it considers this to be under the overlay and clicks won't be caught. */
	z-index: 2;
}

#leftArrow
{
	left: 96px;
}

#rightArrow
{
	left: 639px;
}

#photo-container > .contents {
  	-webkit-transform-style: preserve-3d;
	position: relative;
	display: block;
	height: 100%;
}



/* Mobile */

@media only screen and (max-width: 500px) 
{
  	/* rules that only apply for canvases narrower than 500px */
	#container
	{
		width: 480px;
		height: 100%;
	}
	#bigandsimplestrip
	{
		float: none;
		width: 480px;
		height: 680px;
		padding-left: 28px;
		padding-top: 40px;
		padding-right: 18px;		
	}

	.bigandsimpletextsection
	{
		margin-left: 8px;	
	}
	
	#writeupstrip
	{
		padding-right: 0px;
		width: 80%;
		margin: 0 auto auto;
	}	
	
	#writeupstrip ul
	{
		padding-left: 0px;
	}

	h1
	{
		font-size: 36px;
		padding-top: 36px;
		padding-bottom: 30px;
	}

	h2
	{
		font-size: 20px;
		padding-bottom: 20px;
	}

	h3
	{
		font-size: 18px;	
	}

	#framedscreenshot
	{
		position: relative;
		background: url(../jotunheim/img/jotunheim_screenshot_in_frame_smaller.png);		
		width: 256px;
		height: 510px;	
	}

	#overlay 
	{	
		height: 10000px;
		width: 10000px;
	}
	
	#photo-container 
	{
		position: relative;
		margin-left: 0px;
		margin-top: 0px;
	  	width: 320px;
	  	height: 360px;
	}
	
	#photo-container .contents 
	{
		display: block;
		position: relative;
		z-index: 2;
	}

	#photo-container .contents img, #photo-container video 
	{
		z-index: 3;
	}	
}

@media only screen and (max-width: 321px) 
{
  	/* rules that only apply for canvases narrower than 500px */
	#container
	{
		width: 320px;
		height: 100%;
	}
	#bigandsimplestrip
	{
		float: none;
		width: 320px;
	}
}



/* --------------------------- swipe --------------------------------- */

#photo-container.swipe > * {
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-duration: 1000ms;
}

#photo-container.swipe.slowmode > * {
  -webkit-transition-duration: 5000ms;
}

/* initial state */
#photo-container.swipe.initial .outgoing {
  -webkit-transform: translateX(0);
  opacity: 1;
}

#photo-container.swipe.initial .incoming {
  -webkit-transform: translateX(100%);
  opacity: 0;
}

/* final state */
#photo-container.swipe.final .outgoing {
  -webkit-transform: translateX(0);
  opacity: 1;
}

#photo-container.swipe.final .incoming {
  -webkit-transform: translateX(0);
  opacity: 1;
}
