/**

	This stylesheet is meant to be included after style.css and overrides some of it.

 */

body 
{ 
	color: #fff;
	background: #eee url(../img/textured_tiles_pattern_darker.png);
	font:17px Helvetica, sans-serif; 
	*font-size: 17px; 
} /* Hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }


#container
{
	background: url(../img/textured_tiles_pattern_green.png);	
	width: 832px;
	height: 3000px;
	margin-top: 0px;
	margin-bottom: 0px;
	box-shadow: -5px 0px 2px #999, 5px 0px 2px #999;
}


#writeupstrip
{
	float: none;
	padding-top: 40px;
	padding-right: 40px;
}

#writeupstrip p
{
	padding-bottom: 1em;
}
#writeupstrip ul
{
	margin-top: 20px;
	/* Watch out: HACK! Because #writeupstrip is float: none and flowing around #bigandsimplestrip, it really starts at the left of #container, not in a box that starts to the right of #bigandsimplestrip. Update this if #bigandsimplestrip's width changes. */
	padding-left: 414px;
}

#writeupstrip li
{
	margin-left: 20px;
}

#bigandsimplestrip
{
	float: left;
	width: 400px;
	height: 2000px;
	padding-left: 28px;
	padding-top: 40px;
	padding-right: 22px;
	/*
	border: 1px dotted black;	
	*/
}

.bigandsimpletextsection
{
	margin-left: 32px;	
}

#appstorebadge
{
	display: block;
	margin-top: 64px;
	margin-left: 64px;	
}

.heading
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, sans-serif;
	font-weight: bold;
}

h1
{
	font-size: 48px;
	padding-top: 48px;
	padding-bottom: 40px;
}

h2
{
	font-size: 30px;
	padding-bottom: 40px;
}

h3
{
	font-size: 24px;	
}


/* Slideshow stuff. */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  -webkit-transition: opacity 0.75s;
}

#overlay.hidden {
  display: none;
}

#overlay.visible {
  opacity: 1;
}


#photo-container {
  	width: 480px;
  	height: 480px;
	margin: 15% auto auto auto;
}

#photo-container img, #photo-container video {
	margin: 0px auto auto auto;
	display: block;
}

#photo-container video {
  background-color: black;
}

#photo-container > .contents {
  -webkit-transform-style: preserve-3d;
}


/* --------------------------- swipe --------------------------------- */

#photo-container.swipe > * {
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-duration: 1000ms;
}

#photo-container.swipe.slowmode > * {
  -webkit-transition-duration: 5000ms;
}

/* initial state */
#photo-container.swipe.initial .outgoing {
  -webkit-transform: translateX(0);
  opacity: 1;
}

#photo-container.swipe.initial .incoming {
  -webkit-transform: translateX(100%);
  opacity: 0;
}

/* final state */
#photo-container.swipe.final .outgoing {
  -webkit-transform: translateX(0);
  opacity: 1;
}

#photo-container.swipe.final .incoming {
  -webkit-transform: translateX(0);
  opacity: 1;
}
