body 
{ 
	color: #483b40;
	text-shadow: 0 2px 0 rgba(255, 255, 255, 0.7);
	background: url(../../img/textured_tiles_pattern_green.png); /* url(../img/textured_tiles_pattern_green.png); */
	font:17px Helvetica, sans-serif; 
	*font-size: 17px; 
} /* Hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

a, a:active, a:visited 
{ 
	color: #5a6; 
	text-decoration: none;
	font-weight: bold;
	font-size: 110%;
}
a:hover { color: #6b6; }

.container
{
	/* bgnoise is from http://subtlepatterns.com/ */
	background: #eee url(../../img/bgnoise.gif);	
	margin-top: 0px;
	margin-bottom: 0px;
	box-shadow: -2px 0px 2px #687, 2px 0px 2px #687;
	padding-left: 1em;
	padding-right: 1em;
}

#framedscreenshot
{
	background: url(../../jotunheim/img/jotunheim_screenshot_in_frame.png);	
	background-repeat: no-repeat;
	background-position: center;
	height: 757px;
}

#framedscreenshot img
{
	padding-left: 72px;
	padding-top: 133px;
}

ul
{
	list-style-type: square;
	padding-left: 1em;
}

ul li
{
	margin-left: 1em;
}

ol
{
	list-style-type: square;
}

/* Slideshow stuff. */

.arrow
{
	display: block;
	position: absolute;
	top: 208px;
	/* Without this, it considers this to be under the overlay and clicks won't be caught. */
	z-index: 2;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) 
{
	#framedscreenshot
	{
		position: relative;
		background: url(../jotunheim/img/jotunheim_screenshot_in_frame_small.png);		
		background-repeat: no-repeat;
		background-position: center;
		height: 510px;	
		/*margin-left: 83px;*/
	}

	#framedscreenshot img
	{
		padding-left: 83px;
		padding-top: 102px;
		width: 200px;
		height: 300px;
	}
}

 /* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) 
{
	#framedscreenshot img
	{
		padding-left: 111px;
	}

	#youtubeHolder p
	{
		display: block;
		margin-left: 6px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) 
{
	.container
	{
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 1em;
		padding-right: 0em;
	}	

	#framedscreenshot img
	{
		padding-left: 51px;
		padding-top: 101px;	
	}	
}
