body 
{ 
	color: #483b40;
	text-shadow: 0 2px 0 rgba(255, 255, 255, 0.7);
	background: url(../../img/textured_tiles_pattern_green.png); /* url(../img/textured_tiles_pattern_green.png); */
	font:17px Helvetica, sans-serif; 
	*font-size: 17px; 
} /* Hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

a, a:active, a:visited 
{ 
	color: #5a6; 
	text-decoration: none;
	font-weight: bold;
	font-size: 110%;
}
a:hover { color: #6b6; }

.container
{
	/* bgnoise is from http://subtlepatterns.com/ */
	background: #eee url(../../img/bgnoise.gif);	
	margin-top: 0px;
	margin-bottom: 0px;
	box-shadow: -2px 0px 2px #687, 2px 0px 2px #687;
	padding-left: 1em;
	padding-right: 1em;
}

/*

#writeupstrip
{
	float: none;
	padding-top: 32px;
	padding-right: 40px;
}

#writeupstrip p
{
	padding-bottom: 1em;
}
#writeupstrip ul
{
	margin-top: 20px;
	/* Watch out: HACK! Because #writeupstrip is float: none and flowing around #bigandsimplestrip, it really starts at the left of #container, not in a box that starts to the right of #bigandsimplestrip. Update this if #bigandsimplestrip's width changes. */
/*	padding-left: 414px;
}

#writeupstrip ol
{
	list-style-type: square;	
	padding-left: 414px;
}

#writeupstrip li
{
	margin-left: 20px;
	padding-bottom: 0.3em;
	type
}

#writeupstrip section
{
	margin-bottom: 1em;
}


#bigandsimplestrip
{
	float: left;
	width: 400px;
	height: 1700px;
	padding-left: 28px;
	padding-top: 32px;
	padding-right: 22px;
	/*
	border: 1px dotted black;	
	*/
/*
}

.bigandsimpletextsection
{
	margin-left: 32px;
	padding-right: 10px;
}

.leftcolumnsection
{
	margin-left: 16px;
	padding-right: 10px;	
}

#betaExhortation .heading
{
	margin-bottom: 20px;
}

#betaExhortation p
{
	padding-right: 30px;
}

#appstorebadge
{
	display: block;
	margin-top: 8px;
	margin-left: 64px;
	margin-bottom: 28px;
}*/

#framedscreenshot
{
	background: url(../../jotunheim/img/jotunheim_screenshot_in_frame.png);	
	background-repeat: no-repeat;
	background-position: center;
	height: 757px;
}

#videosection
{
	margin-left: 12px;
}

.overlayTrigger
{
	
}

.triggerRing
{
	display: block;
	margin: 0px auto auto;
	padding-top: 386px;
	width: 16px;
	height: 16px;
	opacity: 0.6;
}

.expandedTriggerRing
{
	display: block;
	margin: 0px auto auto;
	padding-top: 362px;
	width: 64px;
	height: 64px;
	opacity: 0.1;
	-webkit-transition: all 1.5s linear;
	-webkit-transition-property: width, height, padding-top, opacity;
	-moz-transition: all 1.5s linear;
	-moz-transition-property: width, height, padding-top, opacity;	
}

/*
.heading
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, sans-serif;
	font-weight: bold;
}

header .heading
{
	margin-left: 32px;
	margin-right: 32px;
	padding-top: 32px;	
}

h1
{
	font-size: 48px;
	padding-top: 48px;
	padding-bottom: 40px;
}

h2
{
	font-size: 30px;
	padding-bottom: 40px;
}

h3
{
	font-size: 24px;	
}

footer
{
	margin-top: 40%;
}
*/

/* Slideshow stuff. */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  -webkit-transition: opacity 0.75s;
}

#overlay.hidden {
  display: none;
}

#overlay.visible {
  opacity: 1;
}


#photo-container {
  	width: 800px;
  	height: 480px;
	margin: 15% auto auto auto;
	
	/* Without this, its descendents cannot be absolute without using the 
	page as a basis for its positioning. */
	position: relative;	
}

#photo-container .contents img, #photo-container video {
	margin: auto auto auto auto;
	position: absolute;
	display: block;
}

#photo-container video {
  background-color: black;
}

.arrow
{
	display: block;
	position: absolute;
	top: 208px;
	/* Without this, it considers this to be under the overlay and clicks won't be caught. */
	z-index: 2;
}

#leftArrow
{
	left: 96px;
}

#rightArrow
{
	left: 639px;
}

#photo-container > .contents {
  	-webkit-transform-style: preserve-3d;
	position: relative;
	display: block;
	height: 100%;
}


 /* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) 
{

	#framedscreenshot
	{
		position: relative;
		background: url(../jotunheim/img/jotunheim_screenshot_in_frame_small.png);		
		background-repeat: no-repeat;
		background-position: center;
		height: 510px;	
		/*margin-left: 83px;*/
	}

	#youtubeHolder p
	{
		display: block;
		margin-left: 6px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) 
{
	.container
	{
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 1em;
		padding-right: 0em;
	}	
}
